.season {
    padding-top: 100px;
}

.season .grid {
    grid-template-columns: 1fr 4fr;
    align-items: unset;

    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 25px auto;
}

@media (max-width: 500px) {
    .season .grid {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .season .grid img {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .season {
        margin: 0 30px;
    }

    .season .grid img {
        margin: auto;
    }
}
